In [1]:
import os
import numpy as np
import matplotlib.dates
import matplotlib.pyplot as plt
import pandas as pd

from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
from dotenv import load_dotenv
from indicators import *

# 1. Data Import

In [2]:
load_dotenv()
API_KEY = os.getenv("API_KEY")
SECRET_KEY = os.getenv("SECRET_KEY")

In [3]:
client = Client(API_KEY, SECRET_KEY)
klines = client.get_historical_klines("BTCUSDT", Client.KLINE_INTERVAL_1HOUR, "1 Jan, 2021")
data = [elt[:6] for elt in klines]
columns = ["timestamp", "Open", "High", "Low", "Close", "Volume"]
df_start = pd.DataFrame(data, columns=columns)

In [4]:
btc_df = pd.DataFrame(data, columns=columns)
btc_df[columns[1:]] = btc_df[columns[1:]].astype(float)
btc_df.head()

       timestamp      Open      High       Low     Close       Volume
0  1609459200000  28923.63  29031.34  28690.17  28995.13  2311.811445
1  1609462800000  28995.13  29470.00  28960.35  29409.99  5403.068471
2  1609466400000  29410.00  29465.26  29120.03  29194.65  2384.231560
3  1609470000000  29195.25  29367.00  29150.02  29278.40  1461.345077
4  1609473600000  29278.41  29395.00  29029.40  29220.31  2038.046803

In [5]:
start = btc_df.iloc[0].timestamp.astype('datetime64[ms]')
end = btc_df.iloc[-1].timestamp.astype('datetime64[ms]')

print(f'Data from {start} until {end}')
btc_df['datetime'] = pd.to_datetime(btc_df['timestamp'],unit='ms')
btc_df

Data from 2021-01-01T00:00:00.000 until 2022-03-09T07:00:00.000

,timestamp,Open,High,Low,Close,Volume,datetime
0,1609459200000,28923.63,29031.34,28690.17,28995.13,2311.811445,2021-01-01 00:00:00
1,1609462800000,28995.13,29470.00,28960.35,29409.99,5403.068471,2021-01-01 01:00:00
2,1609466400000,29410.00,29465.26,29120.03,29194.65,2384.231560,2021-01-01 02:00:00
3,1609470000000,29195.25,29367.00,29150.02,29278.40,1461.345077,2021-01-01 03:00:00
4,1609473600000,29278.41,29395.00,29029.40,29220.31,2038.046803,2021-01-01 04:00:00
...,...,...,...,...,...,...,...
10358,1646794800000,39410.93,41448.84,39372.81,41217.73,8565.725690,2022-03-09 03:00:00
10359,1646798400000,41217.73,41884.00,41217.72,41639.54,5471.107390,2022-03-09 04:00:00
10360,1646802000000,41639.55,41695.60,41318.06,41515.86,3123.397420,2022-03-09 05:00:00
10361,1646805600000,41515.86,41650.07,41422.47,41600.01,1808.697210,2022-03-09 06:00:00
10362,1646809200000,41600.00,41807.34,41496.39,41730.69,1953.352290,2022-03-09 07:00:00